.banner{
    padding: var(--sec-padding);
    text-align: center; 
}

.banner h1{
    z-index: 2;
    color: var(--primary-text-clr);
    font-size: var(--fs-2);
    width: 100%;
}

.secpadding{
    padding: var(--sec-padding);
}

.part1 {
    /* margin: 100px 120px; */
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.text {
    display: flex;
    gap: 100px;
}

.text p{
    width: fit-content;
}

.textWimg {
    display: flex;
    gap: 50px;
}

.textWimg img{
    width: 400;
    height: auto;
}

.text2 p{
    width: fit-content;
    margin-top: 25px;
}

.part2 {
    background-color: #144C3F;
    margin: 20px 0px;
}

.team {
    text-align: center;
    padding: 10px 0px;
    color: #FFEDE8;
}

.team h2 {
    margin: 15px 0px;
}

.team p{
    margin: 0;
    font-size: 14px;
    padding: 15px 150px;
    color: #FFEDE8;
}

.savor {
    /* margin: 90px auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.textWimg2 {
    display: flex;
    align-items: center; /*Vertically centers text to the image */
    gap: 25px;
}

.textWimg2 img{
    width: 400px;
    height: auto;
}

.text3 h2 {
    margin: 0;
    font-size: 38px;
}

.connect{
    font-family: "Ranille"; 
    font-size: 38px;

}

.text3, .connect {
    display: inline-block;
}

.text3 {
    position: relative;
    top: 30px; /*Adjust this value for vertical alignment*/
}

.text3 p {
    max-width: 450px;
    font-size: 15px;
    margin: 0;
    transform: translate(160px, -40px);
}

