@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --primary-clr: #F3CEC5;
  --primary-clr-light: #FFEDE8;
  --secondary-clr: #144C41;
  --secondary-clr-dark: #134138;

  --primary-text-clr: #FFEDE8;
  --secondary-text-clr: #144C41;

  --sec-padding: 6rem 90px;

  --fs-p: 1.05rem;
  --fs-6: 1.5rem;
  --fs-5: 1.25rem;
  --fs-4: 2rem;
  --fs-3: 3rem;
  --fs-2: 4rem;
  --fs-1: 5rem;
}

@font-face { 
  font-family: "Ranille"; 
  src: url("/Ranille.ttf")
}

*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  background-color: var(--primary-clr);
}

p, h3,h4,h5,h6,div, span, button, a, Link, li{
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--fs-p);
  letter-spacing: 0.25;
  line-height: 1.5;
  color: var(--secondary-text-clr);

}

h1,h2 {
  font-weight: normal;
  font-family: "Ranille";
  letter-spacing: 0.25px;
  line-height: 1.5;
  color: var(--secondary-text-clr);
  
}

button{
  padding: 10px 40px;
  font-size: var(--fs-6);
  cursor: pointer;
  border-radius: 3px ;
  border: 2px solid var(--secondary-clr);
}

html {
  scroll-behavior: smooth;
}