.hero{
    position:relative; 
    display: flex;
    width: 100%;
    text-align: center;
    /* border: 2px solid red; */
}

.heroContent{
    position:absolute; 
    display: flex;
    flex-direction: column;
    height: 510;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
}

.heroContent h1{
    font-size: var(--fs-1);
    color: var(--primary-text-clr);
}

.logo{
    color: var(--primary-text-clr);
    width: 15%;
    height: auto;
    filter: invert(89%) sepia(5%) saturate(701%) hue-rotate(321deg) brightness(106%) contrast(101%);
}

.heroContent h2{
    font-size: var(--fs-4);
    color: var(--primary-text-clr);
}

.hero button{
    border: 2px solid var(--primary-clr-light);
    background-color: transparent;
    color: var(--primary-text-clr);
    position:absolute;
    font-size: var(--fs-4);
    top: 70%;
    left: 6.5%;   
}

.hero button:hover{
    background-color: var(--primary-clr);
    border: 2px solid var(--primary-clr);
    color: var(--secondary-text-clr);
}

.img{
    width: 100%;
    height: 550;
    border-block-end: 40px solid var(--secondary-clr);
    object-fit: cover;
    object-position: bottom ;
}

.ourStory{
    display: flex;
    /* border: 2px solid red; */
}

.halfImg{
    width: 50%;
    height: auto;
}

.ourStory div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20;
    padding: 6%;
    width: 50%;
}

.ourStory div button{
    border: 2px solid var(--secondary-clr);
    background-color: transparent;
    color: var(--secondary-text-clr);
}

.ourStory div button:hover{
    background-color: var(--secondary-clr);
    border: 2px solid var(--primary-clr);
    color: var(--primary-text-clr);
}

.ourStory div h1,
.ourStory div p,
.boardgamesContent p{
    color: var(--secondary-text-clr);
}

.menuCategory{
    padding: var(--sec-padding);
    background-color: var(--secondary-clr);
    color: var(--primary-text-clr);
    /* border: 2px solid red; */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50
}

.menuCategory h1,
.ourStory div h1,
.services h1{
    font-size: var(--fs-2);
}

.menuCategory button,
.services button{
    border: 2px solid var(--primary-clr-light);
    background-color: transparent;
    color: var(--primary-text-clr);
}

.menuCategory button:hover,
.services button:hover{
    background-color: var(--primary-clr-light);
    border: 2px solid var(--primary-clr-light);
    color: var(--secondary-text-clr);
}

.tealeavesbg{
    width: 100%;
    height: 1000;
    object-fit: cover;
    object-position: bottom ;
    position: absolute;
}

.tea{
    position: relative;
    display: flex;
    padding: var(--sec-padding);
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50;
}

.boardgamesContent h1,
.tea h1{
    font-size: var(--fs-2);
    color: var(--secondary-text-clr);
    text-align: center;
}

.teaContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50 10;
}

.teaImg{
    width: 30%;
    height: auto;
}

.teaContent p{
    width: 25%;
    text-align: center;
    font-size: var(--fs-p);
    color: var(--secondary-text-clr);
}

.tea button,
.boardgamesContent button{
    border: 2px solid var(--secondary-clr);
    background-color: transparent;
    color: var(--secondary-text-clr);
}

.tea button:hover,
.boardgamesContent button:hover{
    background-color: var(--secondary-clr);
    border: 2px solid var(--primary-clr);
    color: var(--primary-text-clr);
}

.boardgames{
    display: flex;
    /* border: 2px solid red; */
    background-color: var(--primary-clr);
}

.boardgamesContent{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20;
    padding: 6%;
    width: 50%;
}

.services h1,
.menuCategory h1{
    color: var(--primary-text-clr);
}

.banner{
    padding: var(--sec-padding);
    text-align: center; 
}

.banner h1{
    /* position: absolute;
    top: 30%; */
    z-index: 2;
    color: var(--primary-text-clr);
    font-size: var(--fs-2);
    /* font-style: italic; */
    width: 100%;
    /* background-color: gray;     */
}

.services{
    padding: var(--sec-padding);
    display: flex;
    background-color: var(--secondary-clr);
    flex-direction: column;
    align-items: center;
    gap: 50;
}

.servicesContainer{
    display: flex;
    gap: 40;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.servicesCard{
    position: relative;
    text-align: center;
    /* border: 2px solid red; */
    display: flex;
    width: 300px;
    height: 250px;
    background-color: var(--primary-clr-light);
    align-items: center;
}

.servicesCard h1{
    position: absolute;
    z-index: 2;
    font-size: var(--fs-4);
    color: var(--secondary-text-clr);
    width: 100%;
    height: auto;
    padding: 30px;
}

.servicesImg{
    width: 100%;
    height: 100%;
    filter: opacity(25%);
}

.icon{
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.map{
    border: 0;
    width: 50%;
    height: auto;
}

.contact{
    /* border: 2px solid violet; */
    padding: var(--sec-padding);
    /* position: relative; */
}

.contactContent{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-clr);
    /* padding: 20px; */
}

.contactText{
    /* border: 2px solid green; */
    width: 50%;
    padding: 3%;
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20;
}

.contactText h1{
    font-size: var(--fs-1);
}

.icons{
    /* border: 2px solid blue; */
    display: inherit;
    gap: 20;
}