.cart{
    position: absolute;
    padding: 15px;
    background-color: var(--primary-clr);
    top: 80px;
    width: max-content;
    color: var(--secondary-text-clr);
    z-index: 1;
    border: 2px solid var(--secondary-clr);
}

.cart h2{
    margin-bottom: 22px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--secondary-clr);
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.cart h3{
    font-size: var(--fs-5);

}

.product{
    object-fit: cover;
}

.card{
    display: flex;
    gap: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: space-between;
    width: fit-content;
}

.title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomCard{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    padding-top: 5px;
    border-top: 2px solid var(--secondary-clr);
}

.bottomCard p{
    font-size: small;
    margin-top: 2px;
    margin-bottom: 20px;
}

.subtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.viewCart{
    padding: 10px 30px;
    border: 2px solid var(--secondary-clr);
    background-color: var(--primary-clr);
    color: var(--secondary-text-clr);
    font-size: var(--fs-p);
}

.checkOut{
    padding: 10px 30px;
    border: 2px solid var(--secondary-clr);
    background-color: var(--secondary-clr);
    color: var(--primary-text-clr);
    font-size: var(--fs-p);
}