.cardContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    flex-direction: row;
    width: 90vw;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10;
    position: relative; 
    /* background-color: var(--primary-clr-light); */
    /* padding: 10; */
    border-radius: 5px;
    /* border: 2px solid var(--primary-clr-light); */
    align-items: center;
}

.card h3{
    color: var(--primary-text-clr);
    padding: 5;
}

.img{
    width: 270;
    height: 320;
    object-fit: cover;
    border-radius: 5px;
}