.footer{
    /* border: 2px solid red; */
    background-color: var(--secondary-clr);
    padding: 80px 175px;
}

.footer p{
    color: var(--primary-text-clr);
    line-height: 30px;
}

.footer h1{
    color: var(--primary-text-clr);
    font-size: 20px;
    padding: 0 0 10px 0;
}

.logo{
    /* border: 2px solid green; */
    width: auto;
    height: 254;
    filter: invert(89%) sepia(5%) saturate(701%) hue-rotate(321deg) brightness(106%) contrast(101%);
}

.bottom{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
}

.icons{
    display: flex;
    gap: 20px;
    padding-top: 55;
}

.icons img{
    width: 32px;
    height: auto;
}

.copyright{
    background-color: var(--secondary-clr-dark);
    padding: 20px;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
}

.copyright p{
    font-weight: normal;
    font-family: "Ranille";
    color: var(--primary-text-clr);
}