.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px;
    border-right: 2px solid var(--secondary-clr);
}

.sidebar button{
    background-color: transparent;
    width: 100%;
    padding: 10 30px;
}

.sidebar button:hover{
    background-color: var(--secondary-clr);
    color: var(--primary-text-clr);
}