.banner{
    padding: var(--sec-padding);
    text-align: center; 
}

.banner h1{
    z-index: 2;
    color: var(--primary-text-clr);
    font-size: var(--fs-2);
    width: 100%;
}

.contact{
    /* border: 2px solid violet; */
    padding: var(--sec-padding);
    /* position: relative; */
}

.contactContent{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-clr);
    /* padding: 20px; */
}

.contactText{
    /* border: 2px solid green; */
    width: 50%;
    padding: var(--sec-padding);
    display: inherit;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20;
}

.contactText h1{
    font-size: var(--fs-1);
}

.icons{
    /* border: 2px solid blue; */
    display: inherit;
    gap: 20;
}

.map{
    border: 0;
    width: 50%;
    height: auto;
}

.icon{
    width: 32px;
    height: 32px;
    object-fit: contain;
}